<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>abc</servlet-name>
<servlet-class>com.app.FirstServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>abc</servlet-name>
<url-pattern>/url</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>des</servlet-name>
<servlet-class>com.app.SecondServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>des</servlet-name>
<url-pattern>/xyz</url-pattern>
</servlet-mapping>

<!-- welcome file -->
<welcome-file-list>
<welcome-file>Form.html</welcome-file>
</welcome-file-list>

</web-app>